.database-table-item {
    padding: 6px 20px;

}

.left-panel {
    width: 100%;
}

.MuiAccordionSummary-root {
    width: 100%;
    background-color: #F2F8F9 !important;
}

.table-heading {
    margin: 10px;
    color: gray;
    text-transform: uppercase;
}

.table-container {
    margin-top: 20px;
    overflow: auto;
}