.database-table-item {
    padding: 6px 20px;

}

.left-panel {
    width: 100%;
}

.MuiAccordionSummary-root {
    width: 100%;
}

.table-heading {
    margin: 10px;
    color: gray;
    text-transform: uppercase;
}

.table-container {
    height: 50%;
    overflow: auto;
}