.query-interface {
    border-left: 1px solid #EBEFF8;
    height: 100vh;
    width: 320%;
}

textarea {
    resize: none;
    border: none !important;
    outline: none !important;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 14px;
}

.button-container {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #EBEFF8;
}