.container {
  display: flex;
  justify-content: space-between;
  background-color: #FBFBFC;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #192333;
  height: 60px;
}

.App {
  overflow-y: hidden;
  height: 100vh;
}